* {
	box-sizing: border-box;
}

body {
		 background-color:DodgerBlue;
 font-family: sans-serif;
 text-align: left;
	 }
 div {
		 display: inline-block;
		 border: 1% solid black;
 padding:0%;
 }
 #left {
 float: left;
 height: 200px;
 width: 15%;
 margin: 0%;
 background-color: #ef6285
 }
 #middle {
	 float:middle;
 height: 300px;
 width: 15%;
 margin: 0%;
 background-color: #cf8bd6;
 }
 #right {
	 float: right;
	 height: 300px;
 width: 15%;
 margin: 0%;
 background-color: #72d3a7;
 }
 #container {
		 display: block;
		 margin:auto;
 background-color: #daa9f2;
 }
 img {
	 height: 100%;
	 width: 50%;

 }
 #outer {
	 width: 100%;
	 text-align: center;
 }

 #inner {
	 display: inline-block;
 }

 #god
 {
	 display: flex;
	 justify-content: center;
 }

body {
	margin: 0;
	background: #eaedf1;
	font-family: 'Lato', sans-serif;
}
.header {
	background: gold;
	padding: 10px;
	text-align: center;
}
.header h1 {
	font-weight: 300;
	display: inline;
}
h2 {
	color: #89867e;
	text-align: center;
	font-weight: 300;
}
.color {
	width: 350px;
	margin: 0 auto;
}
.color li {
	margin: 0 15px 0 0;
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 100%;
}

.color .cyan   {background: #7fccde;}


.content,
.content-gradient,
.content-3d {
  margin: 40px auto;
}
.content {
  width: 80%;
  max-width: 700px;
}
.content-3d {
  width: 50%;
  max-width: 300px;
}
pre {
	width: 100%;
	padding: 30px;
	background-color: white;
	color: #f8f8f2;
	border-radius: 0 0 4px 4px;
	margin-top: 20px;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
pre .bt  {color: #f8f8f2;} /* <> */
pre .anc {color: #f92672;} /* anchor tag */
pre .att {color: #a6a926;} /* attribute */
pre .val {color: #e6db74;} /* value */

.btn-container, .container {
	background-color: lightblue;
	border-radius: 4px;
	text-align: center;
	margin-bottom: 40px;
}
.container h2 {
	padding-top: 30px;
	font-weight: 300;
}
.btn, .btn-two {
	margin: 9px;
}
.btn-gradient {
	margin: 5px;
}
a[class*="btn"] {text-decoration: none;}
input[class*="btn"],
button[class*="btn"] {border: 0;}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: blue;}

#navbar {
	overflow: hidden;
	background-color: #333;
}
#navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	text-align: center;
}
#navbar a:hover {
	background-color: #18bec9;
	color: black;
}
#navbar a.active {
	background-color: ##3440eb;
	color: white;
}
